<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadchapterServlet</servlet-name>
        <servlet-class>controller.loadchapterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comicinfoServlet</servlet-name>
        <servlet-class>controller.comicinfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tagServlet</servlet-name>
        <servlet-class>controller.tagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pagingServlet</servlet-name>
        <servlet-class>controller.pagingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>favAddServlet</servlet-name>
        <servlet-class>controller.favAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>favServlet</servlet-name>
        <servlet-class>controller.favServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historyServlet</servlet-name>
        <servlet-class>controller.historyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteHistoryServlet</servlet-name>
        <servlet-class>controller.deleteHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadchapterServlet</servlet-name>
        <url-pattern>/loadchapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comicinfoServlet</servlet-name>
        <url-pattern>/comicinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tagServlet</servlet-name>
        <url-pattern>/tag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pagingServlet</servlet-name>
        <url-pattern>/paging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>favAddServlet</servlet-name>
        <url-pattern>/favAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>favServlet</servlet-name>
        <url-pattern>/fav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historyServlet</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteHistoryServlet</servlet-name>
        <url-pattern>/deleteHistory</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>begin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
